/* Header */

header h1 {
    font-size: 80px;
    text-align: center;
    color: rgba(0, 0, 0, .8);
    padding: 50px 0;
    font-family: "Rubik";
}

#banner {
    background-color: rgb(22, 160, 133);
}

#puma {
    font-weight: 400;
    font-family: "Cabin";
}

/* Section Globals */

.section-heading {
    font-family: "Rubik";
    text-align: center;
    font-size: 30px;
    background-color: rgb(244, 208, 63);
}

section {
    width: 100%;
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
}

figcaption {
    font-family: "VT323";
    font-size: 1.5rem;
    height: 20px;
}

p {
    font-family: "Cabin";
    font-size: 18px;
    text-align: left;
}

/* Colour Section */

.color-box {
    margin: 15px 10px;
    display: inline-block;
}

.color-samples {
    height: 130px;
    width: 150px;
    border-radius: 15px;
}

.color-label {
    line-height: 130%;
    position: relative;
    bottom: 15px;
}

#dark-green {
    background-color: rgb(22, 160, 133);
}

#summer-yellow {
    background-color: rgb(244, 208, 63);
}

#light-blue {
    background-color: rgb(174, 214, 241);
}

#sky-blue {
    background-color: rgb(133, 193, 233);
}

#pale-green {
    background-color: rgb(209, 242, 235);
}

#light-green {
    background-color: rgb(163, 228, 215);
}

/* Font Section */

.font-box {
    display: block;
    margin: 10px auto;
    width: 60%;
    height: auto;
    border-radius: 8px;
    padding: 0 20px 15px 15px;
    background-color: rgb(209, 242, 235);
    font-size: 20px;
}

.font-sample {
    font-size: 2rem;
    font-style: normal;
}

.font-weight {
    font-size: 1.3rem;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.font-demo {
    font-size: 1.5rem;
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

#rubik {
    font-family: "Rubik";
}

#cabin {
    font-family: "Cabin";
}

#vt323 {
    font-family: "VT323";
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

/* Page Elements Section */

.page-element-box {
    width: 50%;
    height: auto;
    border-radius: 8px;
    padding: 0 20px 10px 10px;
    margin: 15px auto;
    background-color: rgb(174, 214, 241);
}

#h1-example {
    font-family: "Rubik";
    font-weight: 700;
    font-size: 28px;
}

#h2-example {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 26px;
}

#p-example {
    font-family: "Cabin";
    font-weight: 400;
    font-size: 22px;
}

#figcaption-example {
    font-family: "VT323";
    font-weight: 400;
    font-size: 30px;
}

.page-element-attributes {
    margin: 12px auto;
    margin-bottom: 4px;
    padding: 7px 14px;
    background-color: white;
    border-radius: 5px;
    width: 180px;
}